<!DOCTYPE html>
<html>
    <head>BaasApp</head>
    <body>
        <h1>Login to your account</h1>
        <form action="{{url_for('checklogin')}}" method="POST">
            <input type="text" name="id_" placeholder="DB Identity">
            <input type="password" name="passwd" placeholder="Password">
            <input type="password" name="token" placeholder="Token">

            {% if val==-1%}
            <p>                
                Sorry, that didn't work, {{first}}</p>
            {% elif val==0 %}    
            <p>No such account.</p>
            {% endif %}
            <div>
                <button>Submit</button>
            </div>            
        </form>
    </body>
</html>