<!DOCTYPE html>
<html>
    <head>BaasApp </head>
    <body>
        <h1>PayNow Portal</h1>
        <form action="{{url_for('paymentvalid_now')}}" method="POST">
        <ul>
            {% for i in infuraaddr %}
            <li>
                <input type="text" name="first" placeholder="Infura Address of Recipient"></li>
            <li>

            <input type="number" name="second" placeholder="Amount">
            </li>
            <!-- {% data[i]['fir'] = first %}
            {% data[i]['sec'] = second %}
    
            <input type="hidden" name="data[]" id="">
             -->
            {% endfor %}
        </ul>
        <button>Pay</button>
    </form>
    </body>
</html>