<!DOCTYPE html>
<html>
    <head>BaasApp</head>
    <body>
        <h1>Setup your name account</h1>
        <form action="{{url_for('checksetupreq')}}" method="POST">
            <input type="text" name="fromid" placeholder="DB Identity">
            <input type="text" name="infura_key" placeholder="Infura Public Key">
            <input type="password" name="passwd" placeholder="Password">
            <p>Upload the keystore file</p>
            <input type="file" name="file">
            {% if val==-1%}
            <p>                
                Sorry, that didn't work, {{first}}</p>
            {% elif val==0 %}    
            <p>No such account.</p>
            {% endif %}
            <div>
                <button>Submit</button>
            </div>            
        </form>
    </body>
</html>